.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: 480px) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: 480px) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}


// presentational styling


body {
  font-family: poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  height: 100vh;
  background:linear-gradient(#FF5F6D,#FFC371);
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
  text-align: center;
  background-color: #dd5;
  padding: 0%;
  margin:0;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: 480px) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }
}


.tables{

    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}
.first{
    display: inline;
}
.button {
  background-color: #34495E;
  border: none;
  color: white;
  padding: 10px 32px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;

}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}